  <% if (locals.isAuthenticated) { %>
<h1>Edit Post</h1>

<main class="container">
  <div class="row">
    <section class="col-md-7">
    <div class="map">
      <div class="mapEdit" id="map" data-lat="51.515209" data-lng="-0.072132"></div>
    </div>
    </section>
    <aside class="col-md-5">
      <h3>Edit Your Trip details</h3>
      <form method="POST" action="/trips/<%= trip.id %>">
      <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" name="latitude" value="<%= trip.latitude %>" readonly >
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" name="longitude"value="<%= trip.longitude %>" readonly >
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<%= trip.title %>" required >
        </div>
        <div class="form-group">
          <label for="fallType">Fall type</label>
        </div>
        <div class="form-group">
          Trip <input type="radio" name="fallType" value="trip" <% if(trip.fallType === 'trip') { %>checked="checked"<% } %>>
          Slip <input type="radio" name="fallType" value="slip" <% if(trip.fallType === 'slip') { %>checked="checked"<% } %>>
          Stumble <input type="radio" name="fallType" value="stumble" <% if(trip.fallType === 'stumble') { %>checked="checked"<% } %>>
          Tumble <input type="radio" name="fallType" value="tumble" <% if(trip.fallType === 'tumble') { %>checked="checked"<% } %>>
          Fall <input type="radio" name="fallType" value="fall" <% if(trip.fallType === 'fall') { %>checked="checked"<% } %>>
        </div>
        <div class="form-group">
        <label class="label"for="description">Tell us about your trip</label>
        <textarea class="input" type="text" name="description" id="description"><%= trip.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </aside>
  </div>
  <% } else { %>
  <div class="home">
    <h1><a href="/login">Log in</a> to have access to this content </h1>
  </div>
</main>
<% } %>
